/* 平板以及手机的尺寸大小 */
  body {
    background-color: black;
    color: #fff;
  }
  .muyu {
    position: absolute;
    bottom: 0;
    left: 12%;
    width: 130px;
    height: 130px;
 
    margin: 0 auto;
  }
  .muyu img {
    width: 100%;
  }
  .sf {
    animation: suofang 0.3s;
  }
  .gongde {
    position: absolute;
    left: 70%;
    top: 23%;
    transform: translateX(-50%);
    width: 70px;
    height: 20px;
    font-size: 16px;
  }
  .gongdejiayi {
    animation: textMove 0.6s;
  }
  .gongdeLuBox {
    position: absolute;
    width: 90%;
    height: 600px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    background-color:  #000000;
    z-index: 3;
    animation: showBox 0.5s;
    overflow-y: scroll;
  }
/* 木鱼 */
@keyframes suofang {
  50% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* 字体向上消失 */
@keyframes textMove {
  from {
    top:23%;
    opacity: 1;
  }
  to {
    top: 5%;
    opacity: 0;
  }
}
[v-cloak] {
  display: none;
}

